**/storybook-static/
**/node_modules/
**/build/
**/dist/
**/.next/

.DS_Store
.gradle
.env.local

*.d.ts.map
tsconfig.tsbuildinfo
docker/tomcat/etendo.war
docker/db/backup.sql

# Testing
coverage/
**/coverage/
jest-html-reporters-attach/
.nyc_output/

# Jest files
junit.xml

# Claude Code
.claude/
.idea/