.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group {
  display: flex;
  gap: 0.5rem;
}

.button {
  flex: 1;
  font-size: small;
  font-weight: bold;
  height: 2.5rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
}
